main {
    padding: 1.5rem;
}

p {
    padding: 0;
    margin: 0;
}

img {
    object-fit: contain;
}


.card {
    min-height: 25rem;
    margin: 0.5rem;
    height: max-content;
    .progress {
        margin-bottom: .5rem;
        width: 100%;
    }
}

.top {
    height: 26rem;
}


.type-pills,
.ability-pills,
.move-pills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
    .badge {
        margin: 2px;
    }
}

.main-image {
    max-width: 19rem;
    max-height: 19rem;
}

.sprites {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .sprite-image {
        width: 35%;
    }
}