main {
  padding: 1rem;
  background-color: #4C5B5C;
  color: white;
  display: flex;
  flex-direction: column; }

#order {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%); }

.card {
  min-height: 31rem;
  margin: 0.5rem;
  height: max-content;
  color: #18191b; }
  .card .progress {
    margin-bottom: .5rem;
    width: 100%; }

.top {
  height: 21rem; }

.type-pills,
.ability-pills,
.move-pills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0; }
  .type-pills .badge,
  .ability-pills .badge,
  .move-pills .badge {
    margin: 2px; }

.main-image {
  max-width: 10rem;
  max-height: 15rem; }

.sprites {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .sprites .sprite-image {
    width: 35%; }

@media only screen and (min-width: 768px) {
  main {
    padding: 2rem; }
  .card {
    min-height: 32rem;
    height: auto; }
  .top {
    height: 26rem; }
  .main-image {
    max-width: 19rem;
    max-height: 19rem; }
  .sprites .sprite-image {
    width: 30%; } }

@media only screen and (min-width: 1024px) {
  main {
    padding: 3rem; }
  #order {
    top: 5.8rem; }
  .card {
    min-height: 30rem; }
  .top {
    height: 31rem; }
  .main-image {
    max-width: 23rem;
    max-height: 23rem; }
  .sprites .sprite-image {
    width: 25%; } }
